In [1]:
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import sqlalchemy

In [2]:
password="password123"

## This is only going to work if you change the db string to the following below and run the commands below in mysql

db = sqlalchemy.create_engine("mariadb+mariadbconnector://root:"+[whatever the root password is]+"@127.0.0.1:3306")

login to mysql (in manjaro its mysql -u root -p)
> source Chinook_MySql.sql

In [3]:
db = sqlalchemy.create_engine("mariadb+mariadbconnector://blob:"+password+"@127.0.0.1:3306/Chinook")
cwd = os.getcwd()

In [58]:
with db.connect() as con:
    sql = '''
    SELECT Customer.LastName, Customer.FirstName, Track.Name, Album.Title
    FROM Customer
    
    Inner JOIN Invoice 
    On Invoice.CustomerId = Customer.CustomerId
    
    Inner JOIN InvoiceLine
    On InvoiceLine.InvoiceId = Invoice.InvoiceId
    
    Inner JOIN Track
    On Track.TrackId = InvoiceLine.TrackId
    
    Left JOIN Album
    On Album.AlbumID = Track.AlbumID
    
    Order By Customer.LastName, Customer.FirstName
    '''
    a = pd.read_sql(sql, db)
    print(a.head())

  LastName FirstName                                               Name  \
0  Almeida   Roberto                            Right Next Door to Hell
1  Almeida   Roberto                                     In The Evening
2  Almeida   Roberto                                   Fool In The Rain
3  Almeida   Roberto  Saudade Dos Aviões Da Panair (Conversando No Bar)
4  Almeida   Roberto                             Caso Você Queira Saber

                     Title
0      Use Your Illusion I
1  In Through The Out Door
2  In Through The Out Door
3                    Minas
4                    Minas